/*@font-face{
	font-family: 'B612';
	src: url('../Font/B612/B612-Regular.ttf')format('truetype');
}
*/

@import url('https://fonts.googleapis.com/css?family=Anton|Gayathri:100,400,700|Lexend+Deca|Montserrat&display=swap');

*{
	/*font-family: 'Lexend Deca',sans-serif; Anton*//*Lexend Deca*/
}

.bg-img{
	background-image: url("../Resources/background6.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: sticky;
}


body{
	padding: 10px;
	height: 100%;
	color: #ffffff !important;
	font-family: 'Montserrat','sans-serif' !important;
}
.cool {
  height: 75px;
  width: 75px;
  background-color: #006eff;
  border-radius: 50%;
}

.mild {
  height: 75px;
  width: 75px;
  background-color: #00ddff;
  border-radius: 50%;
}

.warm {
  height: 75px;
  width: 75px;
  background-color: #ffae00;
  border-radius: 50%;
}

.hot {
  height: 75px;
  width: 75px;
  background-color: #ff5000;
  border-radius: 50%;
}

.vhot {
  height: 75px;
  width: 75px;
  background-color: #ff0000;
  border-radius: 50%;
}

#temperature,#temp1,#temp2,#temp3,#temp4,#temp5,#temp6,#temp7,#temp8{
	padding: 20px;
	color: #ffffff;
	/*margin-left: auto;*/
}

#image{
	height: 250px;
	width: 250px;
	margin-left: auto;
	margin-right: auto;
}

footer{
	font-family: 'Anton','sans-serif' !important;
	/*position: fixed;*/
   	left: 0;
   	bottom: 0;
   	width: 100%;
   	background-color: rgba(255, 255, 255, 0.62);
   	padding: 10px;
   	color: black;
}


.med-img{
	height: 25px;
	width: 25px;
}
#wind-img,#wind{
	height: 50px;
	width: 50px;
	/*margin-left: auto;*/
	/*margin-right: auto;	*/
}
a:link{
	color: rgba(217, 108, 94, 0.68);
}

a:visited{
	color: rgba(54, 156, 22, 1);
}

a:hover{
	color: rgba(54, 156, 22, 1);
}

.board{
	background-color: rgba(0, 0, 0, 0.28);
	padding: 5px;
}

.container{
	margin: 10px;
}