/*@font-face{
	font-family: 'B612';
	src: url('../Font/B612/B612-Regular.ttf')format('truetype');
}
*/

@import url('https://fonts.googleapis.com/css?family=Anton|Gayathri:100,400,700|Lexend+Deca|Montserrat&display=swap');

*{
	/*font-family: 'Lexend Deca',sans-serif; Anton*//*Lexend Deca*/
}

body{
	background-image: url("../Resources/background4.png");
	padding: 10px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 100%;
	color: #ffffff !important;
	font-family: 'Montserrat','sans-serif' !important;
}
.cool {
  height: 75px;
  width: 75px;
  background-color: #006eff;
  border-radius: 50%;
}

.mild {
  height: 75px;
  width: 75px;
  background-color: #00ddff;
  border-radius: 50%;
}

.warm {
  height: 75px;
  width: 75px;
  background-color: #ffae00;
  border-radius: 50%;
}

.hot {
  height: 75px;
  width: 75px;
  background-color: #ff5000;
  border-radius: 50%;
}

.vhot {
  height: 75px;
  width: 75px;
  background-color: #ff0000;
  border-radius: 50%;
}

#temperature{
	padding: 20px;
	color: #ffffff;
	/*margin-left: auto;*/
}

#image{
	height: 250px;
	width: 250px;
	margin-left: auto;
	margin-right: auto;
}

footer{
	font-family: 'Anton','sans-serif' !important;
}

.med-img{
	height: 25px;
	width: 25px;
}